.container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* importante */

}

.borderTop{
  position: absolute;
  top: 0px;
  left: calc((1250px - 100vw) / 2);
  width: 100vw;
  height: 2px;
  background-color: var(--accent);
}

.borderBottom{
  position: absolute;
  bottom: 0px;
  left: calc((1250px - 100vw) / 2);
  width: 100vw;
  height: 2px;
  background-color: var(--accent);
}

.col1, .col2{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.col1{
  padding-top: 10px;
  position: relative;
  height: auto;
}

.col1 h2{
  width: 375px;
  font-size: 48px;
  font-weight: bold;
  font-family: var(--font-black-mango);
  color: var(--highlight);
}


.col2{
  border-left: 2px solid var(--accent);
}