.container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* importante */
}


.col{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.col{
  padding-top: 10px;
  position: relative;
  height: auto;
}

.col h2{
  font-size: 48px;
  font-weight: bold;
  font-family: var(--font-black-mango);
  color: var(--highlight);
}


@media screen and (max-width: 768px) {
  .container{
    flex-direction: column;
  }

  .borderTop, .borderBottom{
    display: none;
  }

  .col{
    width: 100%;
    padding: 0px;
    border: none;
  }

  .col h2{
    width: 80%;
    font-size: 22px;
    color: var(--text);
  }
  
}