.cta{
  margin: auto;
  width: 100%;
  position: relative;
  margin-bottom: -5px;
}
.ctaVideo{
  width: 100%;
  height: calc(100vh - 100px);
  margin: auto;
  
  object-fit: cover;
  object-position: center;
}
.ctaText{
  position: absolute;
  max-width: 1250px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--inCompanyText);
  text-align: center;
}
.ctaText h2{
  font-family: var(--font-black-mango);
  font-size: 120px;
  margin: 0;
  font-weight: bold;
}
.ctaText h3{
  font-family: var(--font-black-mango);
  font-size: 90px;
  margin: 0;
  font-weight: bold;
}
.ctaText h3 span{
  font-family: var(--font-montserrat);
  font-size: 90px;
  margin: 0;
  font-weight: normal;
  display: inline-block;
  transform: rotate(-2deg);
  padding: 10px 30px;
  background-color: var(--inCompanyHighlight);
}
.ctaText p{
  font-family: var(--font-montserrat);
  font-size: 40px;
  margin: 0;
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}



.container{
  margin: 0px auto;
  max-width: 1250px;
  width: 100%;
  padding: 100px 20px 0px;
  background-color: var(--inCompanyHighlight);
}

.row{
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
  justify-content: space-between;
  position: relative;
}

.col{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 40px;
  position: relative;
  z-index: 1;
}

.info{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.info .item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: baseline;
}

.info .item img{
  height: 30px;
  width: 30px;
}

.info .item p{
  margin: 0;
  width: 420px;
  color: var(--inCompanyText);
  font-family: var(--font-montserrat);
  font-size: 32px;
}


.col2{
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  width: 50%;
  position: relative;
  z-index: 1;
}

.col2 video{
  width: calc(50% - 10px);
  height: 523px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



.star{
  position: absolute;
  height: 1007px;
}

.star1{
  top: -231px;
  right: -452px;
}

.star2{
  top: -231px;
  left: -412px;
}

@media screen and (max-width: 768px) {
  .container{
    margin: 0px;
    width: calc(100% - 40px);
    padding: 60px 20px 0px;
  }
  .cta{
    text-align: center;
    margin-top: 80px;
  }
  .ctaVideo{
    height: 602px;
  }

  .ctaText h2{
    font-size: 47px;
  }
  .ctaText h3, .ctaText h3 span{
    font-size: 35px;
  }
  .ctaText p{
    font-size: 15px;
  }
  .ctaText p img{
    width: 47px;
    height: 35px;
  }
  
  .row{
    margin-bottom: 60px;
  }

  .info{
    gap: 10px;
    padding: 0px 10px;
    width: calc(100% - 20px);
  }

  .info .item{
    gap: 10px;
  }

  .info .item img{
    display: none;
  }

  .info .item p{
    width: 185px;
    font-size: 14px;
  }



  .star{
    display: none;
  }
}