.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;

  color: var(--inCompanyText);
}

.text h3{
  font-family: var(--font-black-mango);
  font-size: 54px;
  margin: 0;
  font-weight: bold;
}

.text h3 span{
  font-family: var(--font-montserrat);
  font-size: 50px;
  margin: 0;
  font-weight: normal;
  display: inline-block;
  transform: rotate(-2deg);
  padding: 10px 30px;
  color: var(--inCompanyHighlight);
  background-color: var(--inCompanyText);
}

.text p{
  font-family: var(--font-montserrat);
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.text p img{
  width: 85px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .text h3{
    font-size: 20px;
  } 

  .text h3 span{
    font-size: 18px;
    padding: 5px;
  }

  .text p{
    font-size: 12px;
  }

  .text p img{
    width: 30px;
    height: 22px;
  }
}