.btn {

  transition: ease-in-out 0.3s;

  position: relative;
  
  width: 360px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  

  font-size: 18px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-montserrat);
}

.btnDefault{
  color: white;
  background-color: var(--highlight);
}

.btnFooter{
  color: var(--text);
  background-color: var(--bg);
}

.btn span {
  position: relative;
  padding: 5px 20px;
  display: inline-block;
}

.btn span::before {
  content: '';
  position: absolute;
  left: -105px;
  bottom: -20px;
  width: 350px;
  height: 1px;
  background-color: var(--text);
  transition: transform 0.3s ease-in-out;
}

.btn span::after {
  content: '';
  position: absolute;
  left: -105px;
  top: -20px;
  width: 350px;
  height: 1px;
  background-color: var(--text);
  transition: transform 0.3s ease-in-out;
}

.btn::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: var(--text);
  transition: transform 0.3s ease-in-out;
}

.btn::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: var(--text);
  transition: transform 0.3s ease-in-out;
}


.btn:hover{
  scale: .95;
  opacity: .8;
}

.btnFooter:hover{
  background-color: var(--highlight);
  color: white;
  opacity: 1;
}

.btnFooter:hover span::before, .btnFooter:hover span::after, .btnFooter:hover::before, .btnFooter:hover::after {
  background-color: white;
}
