.container{
  width: 100%;
  height: 467px;
  position: relative;
}

.img1, .img2{
  box-shadow: 0px 10px 15px #00000025;
}


.img1{
  position: absolute;
  width: 620px;
  height: 190px;
  z-index: 1;
  top: 0;
  left: 0;
  transform: rotate(-2.56deg);

  background-image: url('/imagens/inCompany (1).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img2{
  position: absolute;
  width: 238px;
  height: 305px;
  z-index: 2;
  top: 20%;
  left: 50%;
  transform: rotate(6.75deg);

  background-image: url('/imagens/inCompany (2).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

