.btn {

  transition: ease-in-out 0.3s;

  position: relative;
  padding: 10px;

  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;


  color: var(--text); /* cor do texto (marrom-avermelhado) */
  font-size: 18px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-montserrat);
}


.btn span {
  position: relative;
  padding: 5px 20px;
  display: inline-block;
}
/* 
.btn span::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--text);
  transform: scaleX(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn span::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--text);
  transform: scaleX(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 5px;
  width: 1px;
  height: 46px;
  background-color: var(--text);
  transition: transform 0.3s ease-in-out;
}

.btn::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 5px;
  width: 1px;
  height: 46px;
  background-color: var(--text);
  transition: transform 0.3s ease-in-out;
}

/* hover */

.btn:hover, .btn.inCompany:hover span{
  scale: 1.05;
  /* background-color: var(--highlight);
  color: white; */
  color: var(--accent);
  font-weight: 600;
}


/* 
.btn:hover span::before, .btn:hover span::after, .btn:hover::before, .btn:hover::after {
  background-color: white !important;
}  */

@media screen and (max-width: 768px) {
  .btn {
    font-size: 35px;
    height: auto;
    margin-right: 20px;
  }
  .btn span {
    color: white;
  }
  /* .btn::before, .btn::after {
    top: 5%;
    height: 90%;
  } */
  .btn span::before, .btn span::after {
    /* height: 1px; */
  }
  
}