.container{
  display: flex;
  flex-direction: column;
  gap: 40px;

  position: relative;
}

.title h2{
  font-family: var(--font-black-mango);
  font-size: 36px;
  font-weight: bold;
  color: var(--text);
  margin: 0;
}
.title p, .selector p{
  font-family: var(--font-montserrat);
  font-size: 20px;
  color: var(--highlight);
  margin: 0%;
}
.title p span{
  font-weight: bold;
}

.container .logout{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  background-color: var(--highlight);
}

.selector{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.addCase{
  margin: 20px 0px 40px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid var(--highlight);
  background-color: var(--bg);
  font-family: var(--font-montserrat);
  font-size: 26px;
  color: var(--highlight);
  transition: ease-in-out 0.3s;
}

.addCase:hover{
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--bg);
}

@media screen and (max-width: 768px) {

  .container{
    gap: 45px;
  }

  .title{
    text-align: center;
    border-bottom: 1px solid var(--text);
    padding-bottom: 40px;
    white-space: pre-wrap;
  }
  .title h2{
    font-size: 36px;
  }
  
  .selector{
    width: 100%;
  }

  .addCase{
    font-size: 18px;
    margin: 0px;
  }
}