.footer{
  display: flex;
  flex-direction: column;
  height: 1200px;
  padding: 52px 0px;
  background-color: var(--highlight);
  justify-content: space-between;
}

.footerContato{
  display: flex;
  flex-direction: column;
  height: 301px;
  padding: 52px 0px;
  background-color: var(--highlight);
  justify-content: space-between;
}

.cta{
  display: flex;
  color: white;
  margin: 0 auto;
  flex-direction: column;
  gap: 72px;
  max-width: 1250px;
  width: 100%;
}

.cta h2, .socials2 h2{
  font-size: 80px;
  margin: 0;
  font-family: var(--font-black-mango);
}

.msgButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.msgButton p{
  font-size: 36px;
  width: 615px;
  font-weight: 300;
  margin: 0;
  font-family: var(--font-montserrat);
}

.msgButton button{
  background-color: var(--bg);
  color: var(--highlight);
  border: none;
  font-size: 28px;
  font-family: var(--font-montserrat);
  border-radius: 50%;
  height: 210px;
  width: 210px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.msgButton button:hover{
  background-color: var(--accent);
  color: white;
}

.socials2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socials2 .icons{
  display: flex;
  font-size: 50px;
  flex-direction: row;
  gap: 30px;
}

.top{
  width: 180px;
  height: 40px;
  border: 1px solid white;
  border-radius: 100px;
  font-family: var(--font-montserrat);
  font-size: 20px;
  color: white;
  background-color: var(--highlight);
  transition: all 0.3s ease-in-out;
}

.top:hover{
  background-color: white;
  color: var(--highlight);
  cursor: pointer;
}

.section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.socials{
  display: flex;
  color: white;
  margin: 0 auto;
  flex-direction: column;
  gap: 72px;
  max-width: 1250px;
  width: 100%;
}

.socials .icons{
  display: flex;
  font-size: 24px;
  flex-direction: row;
  gap: 20px;
}

.socials .icons a, .socials2 .icons a{
  color: white;
  height: fit-content;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.socials .icons a:hover, .socials2 .icons a:hover{
  scale: 1.5;
  text-shadow: 1px 1px 20px white;
}

.info{
  display: flex;
  color: white;
  margin: 0 auto;
  flex-direction: row;
  max-width: 1250px;
  width: 100%;
  justify-content: space-between;
  height: 170px;
  border-bottom: 1px solid white;
}

.info p{
  font-family: var(--font-montserrat);
  font-size: 24px;
  margin: 0;
}

.copyright{
  display: flex;
  color: white;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1250px;
  width: 100%;
  margin-top: 90px;
}

.copyright p{
  font-family: var(--font-montserrat);
  font-size: 24px;
  margin: 0;
}


.inCompany{
  background-color: var(--inCompanyText);
  
}

.inCompany .cta, .inCompany .socials2 .icons a, .inCompany .copyright{
  color: var(--inCompanyHighlight);
}

.inCompany .msgButton button{
  background-color: var(--inCompanyHighlight);
  color: var(--inCompanyText);
}

.inCompany .msgButton button:hover{
  background-color: var(--inCompanyText);
  color: var(--inCompanyHighlight);
  border: 1px solid var(--inCompanyHighlight);
}

.inCompany .top{
  background-color: transparent;
  color: var(--inCompanyHighlight);
  border: 1px solid var(--inCompanyHighlight);
}

.inCompany .top:hover{
  background-color: var(--inCompanyHighlight);
  color: var(--inCompanyText);
  border: 1px solid var(--inCompanyText);
}

@media screen and (max-width: 768px) {
  .footer{
    height: 450px;
    padding: 20px;
  }
  .cta{
    gap: 40px;
  }
  .cta h2{
   font-size: 24px; 
  }
  .msgButton p{
    font-size: 14px;
    max-width: 172px;
  }
  .msgButton button{
    font-size: 16px;
    width: 125px;
    border-radius: 31px;
    height: 60px;
  }
  .section{
    border-top: 1px solid white;
  }
  .socials2 .icons{
    font-size: 25px;
    gap: 20px;
  }
  .top{
    font-size: 16px;
    width: 137px;
    height: 31px;
  }
  .copyright{
    margin-top: 10px;
  }
  .copyright p{
    font-size: 12px;
  }


  .footerContato{
    height: 90px;
    padding: 20px;
  }

  .footerContato .section{
    gap: 5px;
  }

  .footerContato .section .socials .info p{
    display: none;
  }

  .footerContato .section .socials .info{
    justify-content: flex-end;
  }

  .footerContato .section, .footerContato .section .socials .info {
    border: none;
    height: auto;
  }

  .footerContato .section .copyright{
    border-top: 1px solid white;
    padding-top: 10px;
  }

}