:root {
  --bg: #F2E9E5;
  --highlight: #5A1902;
  --text: #A63D17;
  --accent: #62733D;
  
  --inCompanyBg: #C7CECC;
  --inCompanyHighlight: #A9B5BA;
  --inCompanyText: white;
}


html, body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
}


/* toast-custom.css */

.toast-container {
  font-family: 'Arial', sans-serif;
}

.toast-body {
  font-size: 15px;
  color: #3c3c3c;
  padding: 12px;
}

.toast-success {
  background-color: #f0fdf4;
  border-left: 5px solid #22c55e;
  border-radius: 8px;
}

.toast-error {
  background-color: #fef2f2;
  border-left: 5px solid #ef4444;
  border-radius: 8px;
}

.toast-progress-bar {
  background: #22c55e;
}