.navbar{
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: var(--bg);
  border-bottom: 1px solid var(--highlight);
}



.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1250px;
}

.menuItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: auto;
}

.logo{
  height: 70px;
}

.logo:hover{
  cursor: pointer;
}


.logoMobile{
  display: none;
}

.sandwich{
  display: none;
}

.inCompany{
  background-color: var(--inCompanyHighlight);
}

.inCompany .logo{
  filter: brightness(100);
}

.inCompany span{
  color: white;
}

@media screen and (max-width: 768px) {

  .navbar{
    height: 60px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    z-index: 5;
  }

  .menu{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 81px;
    padding-top: 20px;
    right: -100vw;
    height: calc(100vh - 80px);
    background-color: var(--highlight);
    transition: all 0.3s ease-in-out;
  }

  .menu.active{
    right: 0;
  }

  .menu .logo{
    display: none;
  }

  .logoMobile{
    display: block;
    height: 90%;
    margin-left: 20px;
    
  }

  .inCompany .logoMobile{
    filter: brightness(100);
  }

  .sandwich{
    display: block;
    font-size: 25px;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    color: var(--highlight);
    transition: all 0.3s ease-in-out;
  }

  .inCompany .sandwich{
    color: var(--inCompanyText);
  }

  .sandwich:hover{
    scale: 1.2;
  }
  
}