.navbar{
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: var(--bg);
  border-bottom: 1px solid var(--highlight);
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1250px;
}

.logo{
  height: 70px;
}

.logo:hover{
  cursor: pointer;
}