.editorContainer {
  padding: 40px;
  background-color: #62733D20;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}


.editorTitle {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-style: italic;
  font-size: 26px;
  color: var(--highlight);
}
.editorTitle .collapseButton{
  font-size: 14px;
  padding: 2px 5px;
  border-radius: 100px;
  background-color: var(--bg);
  border: 1px solid var(--highlight);
  transition: ease-in-out .3s;
  font-family: var(--font-montserrat);
}
.editorTitle:hover .collapseButton {
  color: var(--bg);
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
  opacity: 1;
}

.collapsible{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editorSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.editorLabel {
  display: block;
  font-family: var(--font-montserrat);
  color: var(--highlight);
  font-size: 24px;
}
.editorTextarea {
  width: calc(100% - 24px);
  padding: 12px;
  background-color: transparent;
  border: 1px solid #9B9B9B;
  border-radius: 4px;
  font-family: var(--font-montserrat);
  color: var(--text);
  font-size: 20px;
  resize: vertical;
}
.editorTextarea:focus{
  outline: none;
  background-color: #62733D40;
}

.editorSpace{
  padding-right: 35px;
  border-right: 3px solid var(--highlight);
}
.editorHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.editorOrder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.editorOrder button{
  background-color: transparent;
  color: var(--highlight);
  border: none;
  transition: ease-in-out .3s;
  font-size: 18px;
}
.editorOrder button:hover{
  opacity: 0.5;
}
.moveButton:disabled, .moveButton:disabled:hover {
  opacity: 0;
}
.editorOrder p{
  color: var(--highlight);
  font-family: var(--font-montserrat);
  font-size: 18px;
}


.dropzoneContainer {
  border: 2px dashed #999;
  padding: 16px;
  border-radius: 6px;
  background-color: #D9D9D9;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  position: relative;
  min-height: 240px;

}
.dropzoneInstruction {
  font-family: var(--font-montserrat);
  font-size: 16px;
  color: var(--text);
}
.dropzone {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  width: calc(100% - 20px);
  left: 0;
  top: 0;
  height: calc(100% - 20px);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropzone p {
  color: var(--highlight);
  font-family: var(--font-montserrat);
  font-size: 22px;
}
.dropzone p span{
  display: inline-block;
  background-color: var(--highlight);
  color: var(--bg);
  padding: 4px 20px;
  border-radius: 12px;
  line-height: 2;
}
.dropzoneSmall{
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  border-radius: 12px;
  background-color: #f9f9f9;
  cursor: pointer;
  width: 50px;
}
.dropzoneSmall p{
  color: var(--text);
}


.videoRow {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  overflow-x: auto;
  padding: 10px 0;
}
.videoItem {
  background-color: #333;
  padding: 12px;
  border-radius: 8px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videoItem video{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.videoName {
  flex: 1;
  font-family: var(--font-montserrat);
  color: var(--bg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
}
.moveButtonRotate{
  transform: rotate(-90deg);
}
.deleteButton {
  background: transparent;
  border: none;
  color: var(--text);
  font-weight: bold;
  transition: ease-in-out .3s;
}
.deleteButton:hover {
  color: var(--bg);
}


.submitContainer{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 20px;
}

.submitButton, .cancelButton, .removeButton {
  padding: 14px 20px;
  background-color: var(--highlight);
  font-family: var(--font-montserrat);
  color: var(--bg);
  font-size: 24px;
  border: none;
  border-radius: 100px;
  transition: ease-in-out .3s;
  width: 275px;
  margin: 0;
}
.submitButton{
  background-color: #3D5A73;
}
.removeButton{
  background-color: #A66F17;
  margin: 0 ;
}
.removeButton:disabled, .removeButton:disabled:hover {
  background-color: #9B9B9B;
}

.submitButton:hover, .cancelButton:hover , .removeButton:hover {
  background-color: var(--accent);
}


.toastSuccess, .toastFailure, .toastDelete{
  width: 100%;
  text-align: center;
  font-family: var(--font-montserrat);
  font-size: 25px;
}
.toastSuccess{
  background-color: var(--accent);
  color: var(--bg);
}
.toastFailure{
  background-color: var(--bg);
  color: var(--highlight);
}
.toastDelete p{
  color: var(--bg);
}
.toastButtons{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.toastButton{
  width: 100px;
  padding: 5px 10px;
  color: var(--highlight);
  background-color: var(--bg);
  border: none;
  border-radius: 100px;
  transition: ease-in-out .3s;
  font-family: var(--font-montserrat);
  font-size: 16px;
}
.toastDeleteButton{
  background-color: var(--text);
  color: var(--bg);
}
.toastButton:hover{
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .editorContainer{

  }
  .editorTitle {
    font-size: 18px;
  }
  .editorTitle .collapseButton{
    font-size: 10px;
  }
  .editorLabel {
    font-size: 16px;
  }
  .editorTextarea{
    font-size: 14px;
  }

  .editorSpace{
    padding-right: 20px;
  }

  .collapsible{
    gap: 10px;
  }


  .dropzoneInstruction{
    font-size: 12px;
  }
  .dropzone p{
    font-size: 14px;
  }

  .videoRow {
    flex-direction: column;
    align-items: center;
  }
  .videoItem video{
    width: 200px;
    height: 100px;
  }
  .videoName{
    font-size: 12px;
  }


  .submitContainer{
    flex-wrap: wrap;
  }

  .submitButton, .cancelButton ,.removeButton{
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 100px;
    width: 275px;
  }
}