.case{
  display: flex;
  height: 523px;
  flex-direction: row;
  gap: 35px;
  margin-top: 60px;
}

.case2{
  display: flex;
  height: 523px;
  flex-direction: row-reverse;
  gap: 35px;
  margin-top: 60px;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info h2{
  font-size: 36px;
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
  font-family: var(--font-black-mango);
  color: var(--text);
}

.info p{
  font-size: 24px;
  margin: 0;
  font-weight: 400;
  font-family: var(--font-montserrat);
  color: var(--highlight);
}

.infoHome h2{
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  font-family: var(--font-montserrat);
  color: var(--text);
}

.infoHome p{
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  font-family: var(--font-black-mango);
  color: var(--highlight);
  white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
  .case, .case2{
    gap: 20px;
    height: 360px;
    margin-top: 40px;
  }
  
  .info{
    width: 170px;
  }

  .info h2{
    font-size: 18px;
  }
  .info p{
    font-size: 14px;
  }

  .carousel{
    width: 330px;
  }
  
}