.container{
  margin: 100px auto;
  max-width: 1250px;
  width: 100%;
}

.cta{
  color: var(--text);
}

.titleDesktop{
  display: block;
}

.titleMobila{
  display: none;
}

.cta h2{
  font-size: 24px;
  font-family: var(--font-montserrat);
  margin: 0;
}

.cta p{
  font-size: 92px;
  font-weight: bold;
  font-family: var(--font-black-mango);
  margin: 0;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.col{
  display: flex;
  flex-direction: column;
  width: 365px;
  font-family: var(--font-montserrat);
  font-weight: 300;
  color: var(--highlight);
  gap: 20px;
}

.col h2{
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}

.col p{
  font-size: 24px;
  margin: 0;
}

.col2{
  width: 715px;
}

@media screen and (max-width: 768px) {
  .container{
    margin: 100px auto 50px;
  }
  .cta{
    text-align: center;
  }
  .titleDesktop{
    display: none;
  }
  .titleMobila{
    display: block;
  }
  .cta h2{
    font-size: 24px;
    font-weight: 300;
  }
  .cta p{
    font-size: 30px;
  }
  .row{
    padding: 0px 20px;
    margin-top: 10px;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .col, .col2{
    width: 100%;
  }
  .col h2{
    font-size: 22px;
  }
  .col p{
    font-size: 14px;
    width: 185px;
  }

  .col2{
    
  }
  
}