.container{
  height: 287px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;

  position: relative;
}

.container img{
  width: 140px;
  height: 140px;
}

.info{
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info .title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  font-size: 22px;
  font-family: var(--font-montserrat);
  color: var(--highlight);
}

.info .title span{
  font-size: 12px;
  color: var(--accent);
  border: 1px solid var(--accent);
  padding: 5px 12px;
  border-radius: 25px;
}

.info p{
  font-size: 18px;
  font-family: var(--font-montserrat);
  color: var(--highlight);
  font-weight: 400;
}

.btn{
  width: fit-content;
  padding: 5px 20px;
  border: 1px solid var(--highlight);
  color: var(--highlight);
  border-radius: 25px;
  font-size: 20px;
  font-family: var(--font-montserrat);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.btn:hover, .btnMobile:hover{
  border: 1px solid var(--accent);
  color: white;
  background-color: var(--accent);
}

.btnMobile{
  display: none;
}

@media screen and (max-width: 768px) {
  .container{
    height: auto;
    padding: 30px 0px;
    gap: 20px;
  }

  .container img{
    width: 70px;
    height: 70px;
  }

  .info{
    width: 300px;
  }

  .info .title{
    font-size: 16px;
    font-weight: bold;
  }

  .info p{
    font-size: 14px;
    margin: 0%;
  }

  .btn{
    display: none;
  }

  .btnMobile{
    display: block;
    width: fit-content;
    padding: 5px 20px;
    border: 1px solid var(--highlight);
    color: var(--highlight);
    border-radius: 25px;
    font-family: var(--font-montserrat);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
  }
  
}